* { max-width: 1257px; margin: auto; }

* :before, * :after { box-sizing: inherit; }

html { height: 100%; box-sizing: border-box; }

body { position: relative; margin: 0; padding-bottom: 6rem; min-height: 88vh; background-color: lightgray; }

#theFooter { position: absolute; left: 0; right: 0; bottom: 0; padding: 1rem; text-align: center; }
